li
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
}
li:first-child div {font-weight: 600;}
li > div { width: 200px;}

li > div[name='titol']{width: 400px;}
li > div[name='number']{width: 100px;}


#part_superior
{
    position: relative;
    width: 60vw;
    padding: 2vh 2vw;
}
#part_superior div[name='titol']
{
    justify-content: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.imgBox
{
    position: absolute;
    left: 65vw;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imgBox{width: 200px; height: 200px;}
.imgInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.imgInfo p{ padding: 0 2vw;}


#part_inferior
{
    width: 70vw;
    padding: 2vh 2vw;
}
#part_inferior li:nth-child(2) div p{font-weight: 600;}
#part_inferior li div:nth-child(3){width: 25vw;}
#part_inferior li div:nth-child(3) p:nth-child(1) {width: 60%}
#part_inferior li div:nth-child(3) p:nth-child(2),
#part_inferior li div:nth-child(3) p:nth-child(3)
 {width: 20%}

 img{
    width: 20px;
    height: 20px;
 }
 .imgBox img
 {
    width: 100px;
    height: 100px;
 }

 .imgInfo.hide { display:none;}

 form{margin:1em;}

 form input {width: 100px;;}

